@charset "UTF-8";
/* 變數設定 */
/* 按鈕設定 */
/* RWD斷點設定 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

/*h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}*/
q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

img, object, embed, video {
  max-width: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}

h1 {
  font-size: 4rem;
  /*ipnone6*/
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 3rem;
  /*ipnone6*/
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  h2 {
    font-size: 1.5rem;
  }
}

.subttile {
  color: #650300;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

.p-1 {
  padding: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pt-4 {
  padding-top: 64px;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .pt-4 {
    padding-top: 32px;
  }
}

.pb-4 {
  padding-bottom: 64px;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .pb-4 {
    padding-bottom: 32px;
  }
}

.mr-1 {
  margin-right: 16px;
}

.mb-1 {
  margin-bottom: 16px;
}

.mb-2 {
  margin-bottom: 32px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 64px;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .mb-4 {
    margin-bottom: 20px;
  }
}

.container {
  width: 95%;
  max-width: 1110px;
  margin: 0 auto;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .container {
    max-width: 690px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 345px;
  }
}

header {
  background: #aa0601;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 88px;
  /*ipnone6*/
}

@media (max-width: 768px) {
  header {
    padding: 0 39px;
  }
}

@media (max-width: 375px) {
  header {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header .header-logo {
  width: 80px;
  height: 49px;
  background: url("../img/logo.png") no-repeat center;
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 20px;
  /*ipnone6*/
}

@media (max-width: 375px) {
  header .header-logo {
    width: 100%;
    background-size: 48px auto;
    margin-top: 0;
    border-bottom: 1px solid #fff;
  }
}

header .logo {
  width: 80px;
  height: 48px;
  margin: 30px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu li {
    width: 50%;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .menu li:nth-child(even) {
    border-right: none;
  }
}

.menu a {
  display: block;
  padding: 30px 32px;
  color: #fff;
  font-size: 1.25rem;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .menu a {
    text-align: center;
    padding: 8px 0;
  }
}

.menu a:hover {
  background: #650300;
}

.main {
  height: 840px;
  background: url("../img/banner.png") no-repeat center;
  background-size: cover;
  color: #650300;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .main {
    height: 394px;
  }
}

.main .main-title {
  line-height: 96px;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .main .main-title {
    line-height: 45px;
  }
}

.main .main-title-small {
  display: block;
  font-size: 2.25rem;
  line-height: 50px;
  font-weight: 600;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .main .main-title-small {
    font-size: 1.25rem;
  }
}

@media (max-width: 375px) {
  .main .main-title-small {
    font-size: 1rem;
  }
}

.service {
  background: #fbf2f2;
}

.img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .img-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.img-list li {
  width: 19%;
  margin: 0 3%;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .img-list li {
    width: 40%;
    margin: 0 5%;
  }
}

@media (max-width: 375px) {
  .img-list li {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 40px;
  }
}

.img-list .img-list-img {
  margin: 0 auto;
  margin-bottom: 39px;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .img-list .img-list-img {
    margin-bottom: 1px;
  }
}

.img-list .img-list-title {
  font-size: 1.5rem;
  color: #650300;
  text-align: center;
  line-height: 36px;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .img-list .img-list-title {
    font-size: 1.25rem;
  }
}

.series-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  position: relative;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .series-item {
    margin-bottom: 8px;
  }
}

@media (max-width: 375px) {
  .series-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.series-item .series-img {
  max-width: 635px;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .series-item .series-img {
    max-width: 390px;
  }
}

@media (max-width: 375px) {
  .series-item .series-img {
    max-width: 100%;
  }
}

.series-item .series-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .series-item .series-title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    height: 138px;
  }
}

.series-item .series-title {
  font-size: 3rem;
  color: #aa0601;
  font-style: italic;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .series-item .series-title {
    font-size: 1.75rem;
  }
}

@media (max-width: 375px) {
  .series-item .series-title {
    color: #fff;
  }
}

.series-item .series-icon {
  margin: 0 8px 0 0;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .series-item .series-icon {
    width: 30px;
  }
}

@media (max-width: 375px) {
  .series-item .series-icon {
    -webkit-filter: brightness(300);
            filter: brightness(300);
  }
}

.series-item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .series-item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.co-branding {
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
}

.co-branding .subttile {
  color: #fff;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand .brand-item {
  width: 49%;
  position: relative;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .brand .brand-item {
    width: 100%;
    margin-bottom: 16px;
  }
}

.brand .brand-item-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4.5rem;
  color: #aa0601;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .brand .brand-item-title {
    font-size: 2rem;
  }
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .comment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.comment .comment-item {
  width: 22%;
  border: 1px solid #dee2e6;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .comment .comment-item {
    width: 47%;
    margin-bottom: 28px;
  }
}

@media (max-width: 375px) {
  .comment .comment-item {
    width: 100%;
  }
  .comment .comment-item img {
    width: 100%;
  }
}

.comment .comment-title {
  color: #212529;
  font-size: 0.8rem;
}

.comment .comment-txt {
  color: #212529;
}

.comment .comment-time {
  color: #707070;
  font-size: 0.8rem;
}

.contact {
  background: #fbf2f2;
}

.contact .container {
  max-width: 730px;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .contact .container {
    max-width: 450px;
  }
}

@media (max-width: 375px) {
  .contact .container {
    max-width: 345px;
  }
}

.contact .subttile {
  color: #000;
}

.contact .contact-txt {
  font-size: 1.25rem;
  font-weight: 500;
}

.contact label {
  font-size: 1rem;
  margin-bottom: 8px;
}

.contact .agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .agree label {
  margin-left: 5px;
}

.contact input.txt {
  display: block;
  width: 100%;
  height: 50px;
  background: none;
  font-size: 1rem;
}

.contact input.check {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.contact input.submit {
  width: 100%;
  border: 0;
  height: 54px;
  line-height: 54px;
  font-size: 1rem;
  color: #fff;
  background: #aa0601;
  cursor: pointer;
}

.contact input.submit:hover {
  color: #fff;
  background: #910501;
}

.footer {
  background: #aa0601;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .footer .footer-menu {
    margin-bottom: 24px;
  }
}

@media (max-width: 375px) {
  .footer .footer-menu {
    display: none;
  }
}

.footer .footer-menu .footer-menu-link {
  margin-right: 48px;
}

.footer .footer-menu .footer-menu-link:last-child {
  margin-right: 0;
}

.footer .footer-menu a {
  color: #fff;
}

.footer .footer-menu a:hover {
  opacity: .8;
}

.footer .footer-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-media .footer-media-item {
  margin-left: 32px;
  /*ipnone6*/
}

.footer .footer-media .footer-media-item:first-child {
  margin-left: 0;
}

@media (max-width: 768px) {
  .footer .footer-media .footer-media-item img {
    width: 24px;
  }
}

@media (max-width: 375px) {
  .footer .footer-media .footer-media-item {
    margin-left: 24px;
  }
}

.footer .footer-media a:hover img {
  opacity: .8;
}

.footer .footer-info {
  width: 100%;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .footer .footer-info {
    width: auto;
  }
}

.footer .footer-info .footer-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 2.25rem;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .footer .footer-info .footer-info-item {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
  .footer .footer-info .footer-info-item img {
    width: 32px;
  }
}

@media (max-width: 375px) {
  .footer .footer-info .footer-info-item {
    font-size: 1rem;
  }
  .footer .footer-info .footer-info-item img {
    width: 20px;
  }
}

.footer .footer-info a {
  color: #fff;
}

.footer .footer-info a:hover {
  opacity: .8;
}

.footer .footer-copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #fff;
  padding-top: 24px;
  color: #fff;
  position: relative;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .footer .footer-copyright {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer .footer-copyright .footer-copyright-logo {
  width: 80px;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .footer .footer-copyright .footer-copyright-logo {
    display: none;
  }
}

@media (max-width: 375px) {
  .footer .footer-copyright .footer-copyright-logo {
    display: block;
    width: 46px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.footer .footer-copyright .footer-copyright-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .footer .footer-copyright .footer-copyright-copy {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 8px;
  }
}

.footer .footer-copyright .footer-copyright-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .footer .footer-copyright .footer-copyright-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer .footer-copyright .footer-copyright-link li {
  margin-left: 64px;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .footer .footer-copyright .footer-copyright-link li {
    width: 100%;
    margin-left: 0;
  }
}

.footer .footer-copyright .footer-copyright-link li:first-child {
  margin-left: 0;
}

.footer .footer-copyright .footer-copyright-link a {
  color: #fff;
}

.footer .footer-copyright .footer-copyright-link a:hover {
  opacity: .8;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 88px;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .banner {
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .banner {
    margin-bottom: 30px;
  }
}

.banner .banner-item {
  width: 49%;
  max-width: 945px;
  height: 309px;
}

@media (max-width: 768px) {
  .banner .banner-item {
    width: 50%;
  }
}

.banner .banner-glass {
  background: url("../img/banner-3.png") no-repeat center;
  background-size: cover;
}

.banner .banner-modal {
  background: url("../img/product-2-color.png") no-repeat center;
  background-size: cover;
}

.page-menu {
  width: 1386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #DCDCDC;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .page-menu {
    width: 100%;
  }
}

.page-menu .page-menu-item {
  width: 33.33%;
  border-right: 1px solid #DCDCDC;
}

.page-menu .page-menu-item .page-menu-item-icon {
  width: 48px;
  margin-right: 5px;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .page-menu .page-menu-item .page-menu-item-icon {
    width: 32px;
  }
}

@media (max-width: 375px) {
  .page-menu .page-menu-item .page-menu-item-icon {
    width: 15px;
  }
}

.page-menu .page-menu-item a {
  height: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  /*ipnone6*/
  /*ipnone6*/
}

@media (max-width: 375px) {
  .page-menu .page-menu-item a {
    height: 35px;
  }
}

.page-menu .page-menu-item a.now:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 16px;
  background: #aa0601;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .page-menu .page-menu-item a.now:after {
    height: 4px;
  }
}

@media (max-width: 768px) {
  .page-menu .page-menu-item a {
    font-size: 1.75rem;
  }
}

@media (max-width: 375px) {
  .page-menu .page-menu-item a {
    font-size: 0.875rem;
  }
}

.page .page-title {
  text-align: center;
  font-size: 2.5rem;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .page .page-title {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .page .page-title {
    font-size: 1.25rem;
  }
}

.page .page-subtitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .page .page-subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .page .page-subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .product-item {
  width: 350px;
  margin-bottom: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .product .product-item {
    width: 330px;
    margin-bottom: 72px;
  }
}

@media (max-width: 375px) {
  .product .product-item:last-child {
    margin-bottom: 40px;
  }
}

.product .product-item .product-item-img {
  width: 100%;
}

.product .product-item .product-item-title {
  color: #000;
  font-size: 1.125rem;
  margin-bottom: 8px;
  width: 100%;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .product .product-item .product-item-title {
    display: inline-block;
    width: auto;
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .product .product-item .product-item-title {
    font-size: 1rem;
  }
}

.product .product-item .product-item-price {
  color: #aa0601;
  margin-bottom: 11px;
  font-size: 1.125rem;
  width: 100%;
  /*ipnone6*/
}

@media (max-width: 768px) {
  .product .product-item .product-item-price {
    display: inline-block;
    width: auto;
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .product .product-item .product-item-price {
    font-size: 1rem;
  }
}

.product .product-item .product-item-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.product .product-item .product-item-color li {
  width: 18px;
  height: 19px;
  margin-right: 8px;
  border-radius: 4px;
}

.product .product-item .product-item-color li:nth-child(1) {
  background: #5F3E2D;
}

.product .product-item .product-item-color li:nth-child(2) {
  background: #B75929;
}

.page-nav {
  display: none;
  /*ipnone6*/
}

@media (max-width: 375px) {
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.page-nav a {
  padding: 8px 9px;
  color: #555555;
  font-size: 0.75rem;
}

.page-nav a.now {
  background: #000;
  color: #fff;
}

.page-nav a.disable {
  background: #F2F2F2;
}

.page-nav .page-nav-item {
  border: 1px solid #555555;
  border-left: 0;
}

.page-nav .page-nav-item:first-child {
  border-left: 1px solid #555555;
}
/*# sourceMappingURL=all.css.map */