@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* 變數設定 */
$theme-color1: #aa0601;
$theme-color2: #650300;
$theme-color3: #fbf2f2;
$theme-color4: #dee2e6;
$theme-color5: #212529;
$theme-color6: #707070;

$white-color: #fff;
$black-color: #000;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4;
$h2-font-size: $font-size-base * 3;

/* 按鈕設定 */
@mixin btn($bgcolor) {
    color: $white-color;
    background: $bgcolor;
    &:hover {
        color: $white-color;
        background: darken($color: $bgcolor, $amount: 5%);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: $font-size-base;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}
h1 {
    font-size: $h1-font-size;
}
h2 {
    font-size: $h2-font-size;
}
.subttile {
    color: $theme-color2;
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.p-1 {
    padding: 16px;
}
.pt-3 {
    padding-top: 48px;
}
.pb-3{
    padding-bottom: 4px;
}
.pt-4 {
    padding-top: 64px;
}
.pb-4 {
    padding-bottom: 64px;
}
.mr-1{
    margin-right: 16px;
}
.mb-1 {
    margin-bottom: 16px;
}
.mb-2 {
    margin-bottom: 32px;
}
.mb-3 {
    margin-bottom: 48px;
}
.mb-4 {
    margin-bottom: 64px;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
header {
    background: $theme-color1;
    color: $white-color;
    display: flex;
    justify-content: space-between;
    padding: 0 88px;
    .logo {
        width: 80px;
        height: 48px;
        margin: 30px 0;
    }
}
.menu {
    display: flex;
    align-items: center;
    a {
        display: block;
        padding: 30px 32px;
        color: $white-color;
        font-size: $font-size-base * 1.25;
        &:hover {
            background: $theme-color2;
        }
    }
}
.main {
    height: 840px;
    background: url("../img/banner.png");
    background-size: cover;
    color: $theme-color2;
    text-align: right;
    padding: 350px 20% 0 0;
    .main-title {
        line-height: 96px;
    }
    .main-title-small {
        display: block;
        font-size: $font-size-base * 2.25;
        line-height: 50px;
        font-weight: 600;
    }
}
.service {
    background: $theme-color3;
}
.img-list {
    display: flex;
    li {
        width: 19%;
        margin: 0 3%;
    }
    .img-list-img {
        margin: 0 auto;
        margin-bottom: 39px;
    }
    .img-list-title {
        font-size: $font-size-base * 1.5;
        color: $theme-color2;
        text-align: center;
        line-height: 36px;
    }
}
.series {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    .series-img {
        max-width: 635px;
    }
    .series-title {
        font-size: $font-size-base * 3;
        color: $theme-color1;
    }
    .series-icon {
        margin: 0 8px 0 30px;
    }
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
}

.co-branding {
    background: url("../img/bg.png");
    .subttile {
        color: $white-color;
    }
}
.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .brand-item {
        width: 49%;
        position: relative;
    }
    .brand-item-title {
        position: absolute;
        display: flex;
        font-size: $font-size-base * 4.5;
        color: $theme-color1;
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}
.comment {
    display: flex;
    justify-content: space-between;
    .comment-item {
        width: 22%;
        border: 1px solid $theme-color4;
    }
    .comment-title {
        color: $theme-color5;
        font-size: $font-size-base * 0.8;
    }
    .comment-txt {
        color: $theme-color5;
    }
    .comment-time {
        color: $theme-color6;
        font-size: $font-size-base * 0.8;
    }
}
.contact {
    background: $theme-color3;
    .container {
        max-width: 730px;
    }
    .subttile {
        color: $black-color;
    }
    .contact-txt {
        font-size: $font-size-base * 1.25;
        font-weight: 500;
    }
    label {
        font-size: $font-size-base;
        margin-bottom: 8px;
    }
    input {
        &.txt {
            display: block;
            width: 100%;
            height: 50px;
            background: none;
            font-size: $font-size-base;
        }
        &.check {
            width: 20px;
            height: 20px;
            display: inline-block;
        }
        &.submit {
            width: 100%;
            border: 0;
            height: 54px;
            line-height: 54px;
            font-size: $font-size-base;
            @include btn($theme-color1);
            cursor: pointer;
        }
    }
}
.footer{
    background: $theme-color1;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-menu{
        display: flex;
        .footer-menu-link{
            margin-right: 48px;
            &:last-child{
                margin-right: 0;
            }
        }
        a{
            color: $white-color;
            &:hover{
                opacity: .8;
            }
        }
    }
    .footer-media{
        display: flex;
        .footer-media-item{
            margin-left: 32px;
            &:first-child{
                margin-left: 0;
            }
        }
        a{
            &:hover{
                img{
                    opacity: .8;
                }
            }
        }
    }
    .footer-info{
        width: 100%;
        .footer-info-item{
            display: flex;
            color: $white-color;
            font-size: $font-size-base*2.25;
        }
        a{
            color: $white-color;
            &:hover{
                opacity: .8;
            }
        }
    }
    .footer-copyright{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $white-color;
        padding-top: 24px;
        color: $white-color;
        .footer-copyright-logo{
            width: 80px;
        }
        .footer-copyright-copy{
            display: flex;
        }
        .footer-copyright-link{
            display: flex;
            li{
                margin-left: 64px;
                &:first-child{
                    margin-left: 0;
                }
            }
            a{
                color: $white-color;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}
